<a href="https://colab.research.google.com/github/HarshaR99/Colab_python/blob/master/Lists_and_Tupules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Adding elements to a list
This can be done using the 

*   append
*   insert functions

In [0]:
arr = list()
arr.append(1)
arr.insert(0,1)
arr.insert(100,9)
print(arr)

[1, 1, 9]

#Removing elements from a list

*   pop
*   remove


pop removes the last element of list

In [0]:
arr[0] = 0
arr.pop()
print(arr)

# pop can remove an element from specified indes
print(arr.pop(0))

[0, 1]
0

In [0]:
arr.remove(1)
print(arr)

[]

#Tuples
 Tuples can be useful when we need to ensure that an element is in a certain position and will not change.

In [0]:
#function to convert seconds to hh:mm:ss
def convertFromSeconds(seconds):
  hours = seconds // 3600
  minutes = ( seconds - hours*3600 ) // 60
  secs = seconds - hours*3600 - minutes*60
  return hours, minutes, secs # this is returned as a tuple

time = convertFromSeconds(7654)
print(type(time))
print(time)

<class 'tuple'>
(2, 7, 34)

***Unpacking a tuple***

We store values of n elements of a tuple in n separate variables

In [0]:
hrs , mins , secs = convertFromSeconds(1000)
print(hrs, mins, secs)

0 16 40

In [0]:
#enumerate function
# this returns a tuple of the index , value of each element of array
names = ['John','Hetor','Harun','Rama']
for index,name in enumerate(names):
  print('{} - {}'.format(index,name))

0 - John
1 - Hetor
2 - Harun
3 - Rama

#List Comprehension

Q. create a list from 7 to 70 using List comprehension

In [0]:
multiples = [ x*7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

Q. Complete the skip_elements function to return every other element from the list, this time using a list comprehension to generate the new list based on the previous one, where elements in odd positions are skipped.

In [0]:
def skip_elements(elements):
	return [x for i,x in enumerate(elements) if i%2 == 0]  

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

Find length of each element of list

In [0]:
languages = ['Python','Java','C++','Perl','PHP','C']
lengths = [len(language) for language in languages]
print(lengths)

[6, 4, 3, 4, 3, 1]

In [1]:
a,b = 1,2
print(a,b)

1 2